.App {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
html, body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0;
  padding: 0;
}

.TopBar{
    height: 8vh; /* 15% of the viewport height */
    background-color: #2f3132;
}
    .TopBar img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        left: 0;
    }

.LoginButton{
  background: red;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  width: 10vw; /* 10% of viewport width */
  height: 8vh; /* 100% of viewport height */
  position: absolute;
  right: 0;
}


/* .Data{

} */

  
.BottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3132; /* This is equivalent to bg-blue-500 in Tailwind */
    padding: 1em;
    height: 5vh;
  }
  
  .HomeButton{
    width: 25vw;
  }
  .AboutButton{
    width: 25vw;
  }
  .ServicesButton{
    width: 25vw;
  }
  .ContactButton {
    width: 25vw;
  }
  .PreviousWorkButton{
    width: 25vw;
  }

  
 