@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400&family=Arimo:wght@400;500&family=Comfortaa:wght@300;400&family=Noto+Sans+Tamil:wght@300;400&family=Scada:ital,wght@1,700&family=Staatliches&family=Zen+Kaku+Gothic+New:wght@300;400;700&display=swap');

.App {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
html, body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0;
  padding: 0;
}

.TopBar{
    height: 8vh; /* 15% of the viewport height */
    background-color: #2f3132;
}
    .TopBar img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        left: 0;
    }

    .LoginButton {
      font-family: 'Arimo', sans-serif;
      display: flex;
      color: white;
      font-size: 26px;
      width: auto; /* Let the button expand to fit its content */
      height: 7vh; /* 100% of viewport height */
      position: fixed;
      right: 0;
      align-items: center;
      text-align: center;
      padding: 0; /* Remove padding */
      white-space: nowrap; /* Prevent text wrapping */
      padding-right: 50px;
    }
    .LoginContent {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    
    .ImageContainer img {
      margin-right: 10px;
      transform: scale(0.05); /* Scale down the image to 10% of its original size */
    }

/* .Data{

} */

  
.BottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3132;
  padding: 0;
  margin: 0;
  height: 7vh;
  overflow: hidden;
  transition: height 0.3s ease-in-out; /* Add a smooth transition for height */
}


  .BottomBar .BottomBarButton:last-child {
    border-right: none;
  }

  /* .HomeButton{
    text-align: center;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 100%;
  }.HomeButton:hover {
    background-color: green;
  }

  .AboutButton{
    text-align: center;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 100%;
  } .AboutButton:hover {
    background-color: green;
  }

  
  .ServicesButton{
    text-align: center;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 100%;
  } .ServicesButton:hover {
    background-color: green;
  }

  .ContactButton {
    text-align: center;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 100%;
  }.ContactButton:hover {
    background-color: green;
  }

  .PreviousWorkButton{
    text-align: center;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 100%;
  }.PreviousWorkButton:hover {
    background-color: green;
  } */

  .HomeButton,
  .AboutButton,
  .ServicesButton,
  .ContactButton,
  .PreviousWorkButton {
    text-align: center;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add position: relative */
    border-left: 1px solid #ccc; /* Add left border */
    border-right: 1px solid #ccc; /* Add right border */
  }
  
  
  .HomeButton:first-child,
  .PreviousWorkButton:last-child {
    border-left: none;
    border-right: 1px solid #ccc; /* Add right border only for the last button */
  }

.PreviousWorkButton:first-child,
.HomeButton:last-child {
  border-right: none;
  border-left: 1px solid #ccc; /* Add left border only for the first button */
}

  .HomeButton img,
  .AboutButton img,
  .ServicesButton img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .ContactButton img {
    max-width: 30%;
    max-height: 80%;
  }
  
  .PreviousWorkButton img {
    max-width: 80%;
    max-height: 70%;
  }
  
  .HomeButton::before,
  .AboutButton::before,
  .ServicesButton::before,
  .ContactButton::before,
  .PreviousWorkButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #7d1215, #c8222a);
    opacity: 0; /* Start with opacity 0 for the transition effect */
    transition: opacity 0.1s ease;
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  /* Add hover styles for the pseudo-element */
  .HomeButton:hover::before,
  .AboutButton:hover::before,
  .ServicesButton:hover::before,
  .ContactButton:hover::before,
  .PreviousWorkButton:hover::before {
    opacity: 1; /* On hover, change opacity to 1 */
    transition: opacity 0.1s ease-out;
  }

  